*{
  margin: 0;
  padding: 0;
}

.container-top-content{
  display: flex;
  width: calc(100vw - 12px);
  height: 64px;
  align-items: center;
  justify-content: flex-start;
  position: fixed;
}



#nav-bar-background{
  height: 64px;
  width: 100%;
  display: flex;
  position: fixed;
  background: #030303;
  z-index: -1;
}

#nav-bar-divider{
  position: fixed;
  top: 64px;
  left: 0;
  right: 0;
  pointer-events: none;
  width: 100%;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  background:#030303;
} 


div#guide-button.style-scope-ytmusic-nav-bar{
  cursor: pointer;
}
#ytmusic-logo{
  cursor: pointer;
}

#guide-button svg{

  margin-right:12px;
  padding: 8px;
}

div#left-content.left-content-style-scope-ytmusic-nav-bar {
  display: flex;
  align-items: center;
  height: 100%;
  width: 148px;
  padding-left: 16px;
  flex-shrink: 0;
  box-sizing: border-box;
}

.center-content-style-scope-ytmusic-nav-bar{
  height: 64px;
  width: 1019px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  justify-content: flex-start;
  padding: 8px 0;
  flex-shrink: 1;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  position: relative;
  background:transparent;

}

div#search-bar.search-bar-container{
  height: 100%;
  width: 480px;
  display: flex;
  align-items: center;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-width: 0.8px;
  background: transparent;
}

#input{
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  color: white;
  background: rgba(255, 255, 255, 0.15);
  font-size: 16px;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  text-align: center;
}


#button{
  height: 500px;
  border: none;
  background: rgba(255, 255, 255, 0.15); 
  cursor: pointer; 
}

#but-icon{
  background-color: transparent;
  color: rgb(255, 255, 255);
  padding-right: 8px;
  height: 100%;
  cursor: pointer;
}

#right-content.nav-bar{
  position: relative;
  height: 64px;
  width: 100px;
  background:transparent;
  display: flex;
  align-items: center;
  justify-content:space-evenly;
  right:-160px;
}

#right-content img{
  background: transparent;
}

.guide-bar-background{
  position: absolute;
  height: 100%;
  width: 72px;
  background:#030303;
  z-index: -1;
}

.guide-divider{
  position: absolute;
  bottom: 0;
  height: calc(100vh - 66px);
  left: 72px;
  width: 0;
  height: calc(100vh-64px);
  border: 1px solid red;
  background:#030303;
}

.guide-container{
  position: absolute;
  height: calc(100vh - 65px);
  bottom: 0;
  width: 72px;
  background:#030303;
  z-index: 0;
  color: white;
  display: flex;
  flex-direction: column;
  gap:30px;
}

div#home-icon{
  padding-top:20px ;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

div#explore-icon{
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;

}

div#library-icon{
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

div#upgrade-icon{
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}


