*{
  margin: 0;
  padding: 0;
  background-color: #030303;
}

.container-top-content{
  display: flex;
  width: calc(100vw - 12px);
  height: 64px;
  align-items: center;
  justify-content: flex-start;
  position: fixed;
}



#nav-bar-background{
  height: 64px;
  width: 100%;
  display: flex;
  position: fixed;
  background: #030303;
  z-index: -1;
}

#nav-bar-divider{
  position: fixed;
  top: 64px;
  left: 0;
  right: 0;
  pointer-events: none;
  width: 100%;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  background:#030303;
} 


div#guide-button.style-scope-ytmusic-nav-bar{
  cursor: pointer;
}
#ytmusic-logo{
  cursor: pointer;
}

#guide-button svg{

  margin-right:12px;
  padding: 8px;
}

div#left-content.left-content-style-scope-ytmusic-nav-bar {
  display: flex;
  align-items: center;
  height: 100%;
  width: 148px;
  padding-left: 16px;
  flex-shrink: 0;
  box-sizing: border-box;
}

.center-content-style-scope-ytmusic-nav-bar{
  height: 64px;
  width: 1019px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  justify-content: flex-start;
  padding: 8px 0;
  flex-shrink: 1;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  position: relative;
  background:transparent;
  padding-left: 50px;

}

div#search-bar.search-bar-container{
  height: 100%;
  width: 480px;
  display: flex;
  align-items: center;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-width: 0.8px;
  background: transparent;
}

#input{
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  color: white;
  background: rgba(255, 255, 255, 0.15);
  font-size: 16px;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  text-align: center;
}


#button{
  height: 500px;
  border: none;
  background: rgba(255, 255, 255, 0.15); 
  cursor: pointer; 
}

#but-icon{
  background-color: transparent;
  color: rgb(255, 255, 255);
  padding-right: 8px;
  height: 100%;
  cursor: pointer;
}

#right-content.nav-bar{
  position: relative;
  height: 64px;
  width: 100px;
  background:transparent;
  display: flex;
  align-items: center;
  justify-content:space-evenly;
  right:-160px;
}

#right-content img{
  background: transparent;
}

.guide-bar-background{
  position: absolute;
  height: 100%;
  width: 72px;
  background:#030303;
  z-index: -1;
}

.guide-divider{
  position: absolute;
  bottom: 0;
  height: calc(100vh - 66px);
  left: 72px;
  width: 0;
  height: calc(100vh-64px);
  border: 1px solid rgba(255, 255, 255, 0.15);
  background:#030303;
}

.guide-container{
  position: fixed;
  height: 100%;
  bottom: 0;
  width: 72px;
  background:#030303;
  z-index: 0;
  color: white;
  display: flex;
  flex-direction: column;
  gap:30px;
  top: 67px;
}

div#home-icon{
  padding-top:20px ;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

div#explore-icon{
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;

}

div#library-icon{
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

div#upgrade-icon{
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.audio-background{
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 72px;
  background-color:#030303;
  z-index: 1;
}

.audio-background-container{
  position: fixed;
  width: calc(100vw - 12px);
  height: 70px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  bottom: 0;
  z-index: 1;
}

div#audio-range{
  position: absolute;
  width: 100%;
  height: 2px;
  background: transparent;
  background-color: rgba(255, 255, 255, 0.15);
  bottom: 70px;
}

#paper-slider{
  height: 100%;
  position: absolute;
  width: 100%;
  cursor: pointer;
  outline: none;
  border-radius: 8px;
  accent-color: red;
}

.left-content-buttom{
  height: 60px;
  width: 240px;
  display: flex;
  align-items: center;
  z-index: 1;
}


#previous-btn{
  box-sizing: border-box;
  width: 48px;
  height: 44px;
  margin-left: 8px;
  margin-right: 4px;
  margin-bottom: 4px;
  margin-top: 4px;
  display: flex;
  align-items: center;
}

#play-btn{
  box-sizing: border-box;
  width: 64px;
  height: 60px;
  margin-left: 8px;
  margin-right: 4px;
  margin-bottom: 4px;
  margin-top: 4px;
  display: flex;
  align-items: center;
}


#next-btn{
  box-sizing: border-box;
  width: 48px;
  height: 44px;
  margin-left: 8px;
  margin-right: 4px;
  margin-bottom: 4px;
  margin-top: 4px;
  display: flex;
  align-items: center;
}

button{
  background-color: transparent;
  outline: none;
  border: none;
   cursor: pointer;
}

#time-info{
  display: flex;
  color:rgb(170,170,170);
  overflow: hidden;
  flex-wrap: nowrap;
  font-size: small;
  white-space: nowrap;   /* keep text on one line */
  flex: 0 0 auto;       /* don't shrink or grow — preserve its width */
  align-self: center;   /* vertical centering inside parent */
  margin-left: 8px;
}


#right-content{
  height: 72px;
  width: 240px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.middle-content-container{
  height: 72px;
  width: 240px;
  background-color:transparent;
  color: white;
  display: flex;
  gap:5px;
}
#song-info{
  display: flex;
  flex-direction: column;
  justify-content: center;

}

#song-img{
  display: flex;
  align-items: center;
}

#song-title{
  display: flex;
  align-items: center;
}

#song-addtional-info{
  display: flex;
  justify-content: space-between;

}

.pannel-container{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 600px;
  width: calc(100% - 73px);
  left: 73px;
  top: 65px;
  background-color:#030303;
  gap:300px
  
}

#main-pannel{
  position: relative;
    width: 500px;
    height: 550px;
    background-color: aqua;
    display: flex;
    flex-shrink: 0;
    margin-left: 100px;
}

#side-pannel{
    position: relative;
    width: 600px;
    height: 95%;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    right: 20px;
}

#container-lyrics{
  background-color: wheat;
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#play-list{
  background-color: rgb(186, 245, 179);
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: column;
}

#option{
  background-color: rgb(245, 203, 179);
  width: 100%;
  height: 10%;
  display: flex;
}

#songlist{
  background-color: rgb(245, 179, 187);
  width: 100%;
  height: 70%;
  display: flex;
}




